﻿<div class="layout">
  <div class="layout__nav">
    <div class="nav">
      <div class="nav__group">
        <div class="nav__header">Товары</div>
        <ul class="nav__items">
          <li>{{#link-to "rackets" class="nav__link"}}Ракетки{{/link-to}}</li>
          <li>{{#link-to "strings" class="nav__link"}}Сумки{{/link-to}}</li>
          <li>{{#link-to "rackets" class="nav__link"}}Воланы{{/link-to}}</li>
          <li>{{#link-to "strings" class="nav__link"}}Кроссовки{{/link-to}}</li>
          <li>{{#link-to "rackets" class="nav__link"}}Одежда{{/link-to}}</li>
          <li>{{#link-to "strings" class="nav__link"}}Струны{{/link-to}}</li>
          <li>{{#link-to "rackets" class="nav__link"}}Обмотки{{/link-to}}</li>
          <li>{{#link-to "other" class="nav__link"}}Аксессуары{{/link-to}}</li>
          <li>{{#link-to "test" class="nav__link"}}Test{{/link-to}}</li>
        </ul>
      </div>
      <div class="nav__group">
        <div class="nav__header">Акции</div>
        <ul class="nav__items">
          <li>{{#link-to "rackets" class="nav__link"}}Скидки{{/link-to}}</li>
          <li>{{#link-to "strings" class="nav__link"}}Новинки{{/link-to}}</li>
          <li>{{#link-to "rackets" class="nav__link"}}Хиты{{/link-to}}</li>
        </ul>
      </div>
      <div class="nav__group">
        <div class="nav__header">Посты</div>
        <ul class="nav__items">
          <li>{{#link-to "rackets" class="nav__link"}}Новости{{/link-to}}</li>
          <li>{{#link-to "strings" class="nav__link"}}Статьи{{/link-to}}</li>
          <li>{{#link-to "rackets" class="nav__link"}}Обзоры{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="layout__content">
    {{outlet}}
  </div>
  {{loading-screen}}
</div>