﻿<div class="products">
  <h1 class="products__header">{{model.header}}</h1>
  <div class="products__filters">
    {{#each model.filters as |filter|}}
    <div class="products__filter {{if (and (eq filter.name 'visibility') (not showVisibilityFilter)) 'hidden'}}">
      <div class="filter">
        <b class="filter__label">{{filter.label}}</b>
        {{#multiselect-checkboxes onchange=(action 'checkboxFilterChange' filter.name) updateSelectionValue=false class="filter-items" options=filter.values selection=filter.selected as |value isSelected| }}
        <li>
          {{#check-box isSelected=isSelected isDisabled=value.isDisabled}}
          <span>{{value.name}}</span>
          <span class="filter__count">({{value.count}})</span>
          {{/check-box}}
        </li>
        {{/multiselect-checkboxes}}
      </div>
    </div>   
    {{/each}}
    <div class="products__range-filters">
      {{#each model.filtersRange as |filter|}}
      <div class="filter filter_range">
        <b class="filter__label">{{filter.label}}</b>
        {{filter-range range=filter.range start=filter.start step=filter.step on-change=(action 'rangeSliderChanged' filter.name)}}
      </div>
      {{/each}}
    </div>
  </div>
  <div class="products__filter-btns">
    <!--<div>
      <button {{action "cleanFilters"}} class="btn btn_size_s btn_type_outline-primary">Показать</button>
      <button {{action "cleanFilters"}} class="btn btn_size_m btn_type_outline-success">Показать</button>
      <button {{action "cleanFilters"}} class="btn btn_size_l btn_type_outline-info">Показать</button>
      <button {{action "cleanFilters"}} class="btn btn_size_xl btn_type_outline-warning">Показать</button>
    </div>
    <button {{action "cleanFilters"}} class="btn btn_size_m btn_type_outline-primary">Показать</button>
    <button {{action "cleanFilters"}} class="btn btn_size_m btn_type_outline-success">Показать</button>
    <button {{action "cleanFilters"}} class="btn btn_size_m btn_type_outline-info">Показать</button>
    <button {{action "cleanFilters"}} class="btn btn_size_m btn_type_outline-warning">Показать</button>
    <button {{action "cleanFilters"}} class="btn btn_size_m btn_type_outline-danger">Показать</button>
    <button {{action "cleanFilters"}} class="btn btn_size_m btn_type_outline-light">Показать</button>
    <button {{action "cleanFilters"}} class="btn btn_size_m btn_type_outline-dark">Показать</button>-->
    <div class="products__sort-select-btn">
      {{#power-select className='products__sort-select' options=sortItems selected=sortSelected searchEnabled=false onchange=(action "sort") as |sortItem|}}
      <i class="products__sort-option-icon fa {{sortItem.iconClass}}" aria-hidden="true"></i>
      <span class="products__sort-option-label">{{sortItem.label}}</span>
      {{/power-select}}
    </div>
    <button {{action "cleanFilters"}} class="btn btn_size_m btn_type_outline-secondary products__filter-btn">Очистить все</button>
    <div class="products__visibility-filter-switcher">
      {{#x-toggle theme='light' size='small' value=showVisibilityFilter showLabels=true onToggle=(action (mut showVisibilityFilter)) as |toggle|}}
        {{#if showVisibilityFilter}}
          {{#toggle.label}}Скрыть фильтр видимости{{/toggle.label}}
        {{else}}
          {{#toggle.label}}Показать фильтр видимости{{/toggle.label}}       
        {{/if}}
        {{toggle.switch}}
      {{/x-toggle}}      
    </div>
  </div>
  <div class="products__grid">
    {{product-grid models=model.content}}
  </div>
  <div class="products__grid-footer">
    {{#if model.content}}
      {{#if (gt model.content.totalPages 1)}}
        <div class="products__paging">
          {{page-numbers content=model.content currentPage=page}}
        </div>
      {{/if}}
      <div class="products__models-count-info">
        {{countInfoText}}
      </div>
      <div class="products__per-page">
        {{#power-select options=perPageItems selected=perPageSelected searchEnabled=false onchange=(action "perPageItemChanged") as |perPageItem|}}
          {{perPageItem}}
        {{/power-select}}
      </div>                                               
    {{else}}
      <div class="products__no-found">Товары не найдены, измените параметры поиска.</div>
    {{/if}}    
  </div>  
</div>