﻿<div>
  {{multiselect-checkboxes options=model.balances labelProperty='name' selection=selectedBalances}}
</div>
<div>
  {{multiselect-checkboxes options=model.flexes labelProperty='name' selection=selectedFlexes}}
</div>
<div>
  {{multiselect-checkboxes options=model.levels labelProperty='name' selection=selectedLevels}}
</div>
<div>
  <button {{action "applyFilters"}}>Показать</button>
</div>
<span {{action "sortBy" 'id'}}>Id {{sort}}</span>
<span {{action "sortBy" 'name'}}>Name {{sort}}</span>
{{#each model.content as |model|}}
<div>{{model.name}}</div>
{{/each}}

{{page-numbers content=model.content currentPage=page}}