﻿<label class="checkbox__label {{if isSelected 'checkbox_selected'}} {{if isDisabled 'checkbox_disabled'}}">
  {{input class='checkbox__input' type="checkbox" checked=isSelected disabled=isDisabled}}
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{label}}
  {{/if}}
</label>