﻿<div class="filter-range__container">
  <div class="filter-range__inputs">
    {{input-number min=range.min max=startMax value=startMin digits=digits on-change=(action "updateStartMinSlider") class='filter-range__input'}}
    - 
    {{input-number min=startMin max=range.max value=startMax digits=digits on-change=(action "updateStartMaxSlider") class='filter-range__input'}}
  </div>
  <div class="filter-range__slider">
    {{range-slider range=range start=start step=step on-update="updateInputs" on-change=on-change}}
  </div>
</div>
