﻿<div class="page-numbers">
  <ul class="page-numbers__items">
    <li class="page-numbers__item">
      <a href="#" {{action "incrementPage" -1}} class="page-numbers__link page-numbers__link_arrow {{unless canStepBackward 'page-numbers__link_arrow_disabled'}}">
        <i class="fa fa-chevron-left"></i>
      </a>
    </li>

    {{#each pageItems as |item|}}
    {{#if item.dots}}
    <li class="page-numbers__item">
      <span>...</span>
    </li>
    {{/if}}
    {{#if item.current}}
    <li class="page-numbers__item">
      <a class="page-numbers__link page-numbers__link_active">{{item.page}}</a>
    </li>
    {{else}}
    <li class="page-numbers__item">
      <a href="#" {{action "pageClicked" item.page}} class="page-numbers__link">{{item.page}}</a>
    </li>
    {{/if}}
    {{/each}}

    <li class="page-numbers__item">
      <a href="#" {{action "incrementPage" 1}} class="page-numbers__link page-numbers__link_arrow {{unless canStepForward 'page-numbers__link_arrow_disabled'}}">
        <i class="fa fa-chevron-right"></i>
      </a>
    </li>
  </ul>
</div>