﻿<div class="product-item__products">
  {{#each model.products as |product|}}
  <div class="product-item__product">
    <div class="product-item__attr product-item__img">
      <div class="img-center">
        <img class="img-center__img" src="assets/imgs/3.jpg" />
      </div>
    </div>    
    <div class="product-item__attr product-item__price">{{product.actualPrice}}</div>
    <div class="product-item__attr product-item__count">{{product.count}}</div>
    <div class="product-item__attr"><i class="fa {{if product.isOrder 'fa-check-circle-o' 'fa-circle-o'}}"></i></div>
    <div class="product-item__attr"><i class="fa {{if product.isVisible 'fa-check-circle-o' 'fa-circle-o'}}"></i></div>
    <div class="product-item__attr"><i class="fa {{if product.isHit 'fa-check-circle-o' 'fa-circle-o'}}"></i></div>
    <div class="product-item__attr"><i class="fa {{if product.isNew 'fa-check-circle-o' 'fa-circle-o'}}"></i></div>
    <div class="product-item__attr"><i class="fa {{if product.isPromo 'fa-check-circle-o' 'fa-circle-o'}}"></i></div>
    <div class="product-item__attr"><i class="fa {{if product.isInteres 'fa-check-circle-o' 'fa-circle-o'}}"></i></div>
    <div class="product-item__attr product-item__date">{{moment-format product.date}}</div>
  </div>  
  {{/each}}
</div>
<div class="product-item__model">
  <div>{{model.makerName}} {{model.name}}</div>
  <div>{{component model.renderComponent model=model}}</div>
  <div>Описание: {{model.description}}</div>
</div>