﻿<table class="product-grid">
  <tr>
    <th class="product-grid__img-col">Картинка</th>
    <th class="product-grid__price-col">Цена</th>
    <th class="product-grid__count-col">Кол-во</th>
    <th class="product-grid__count-col">Бронь</th>
    <th>Под заказ</th>
    <th>Видимость</th>
    <th>Хит</th>
    <th>Новинка</th>
    <th>Промо</th>
    <th>Интерес</th>
    <th class="product-grid__date-col">Дата</th>
    <th class="product-grid__model-col">Модель</th>
  </tr>
  {{#each models as |model|}}
    {{#each model.products as |product  index|}}
    <tr>
      <td>
        <div class="product-grid__img img-center">
          <img class="img-center__img" src="assets/imgs/3.jpg" />
        </div>
      </td>
      <td>{{product.actualPrice}}</td>
      <td>{{product.count}}</td>
      <td>{{product.countCheckOut}}</td>
      <td><i class="fa {{if product.isOrder 'fa-check'}}"></i></td>
      <td><i class="fa {{if product.isVisible 'fa-check'}}"></i></td>
      <td><i class="fa {{if product.isHit 'fa-check'}}"></i></td>
      <td><i class="fa {{if product.isNew 'fa-check'}}"></i></td>
      <td><i class="fa {{if product.isPromo 'fa-check'}}"></i></td>
      <td><i class="fa {{if product.isInteres 'fa-check'}}"></i></td>
      <td>{{moment-format product.date}}</td>
      {{#if (eq index 0)}}
      <td rowspan="{{if (gt model.products.length  1) model.products.length}}">
        <div class="product-grid__model-cell">
          <div>{{model.makerName}} {{model.name}}</div>
          <div>{{component model.renderComponent model=model}}</div>
          <div class="product-grid__descript">Описание: {{model.description}}</div>
        </div>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  {{/each}}
</table>