﻿<div>Уровень: {{model.levelName}}</div>
<div>Баланс: {{model.balanceName}}</div>
<div>Жесткость: {{model.flexName}}</div>
<div>Материал стержня: {{model.shaftMaterialName}}</div>
<div>Материал обода: {{model.headMaterialName}}</div>
<div>Длина: {{model.lenght}} мм</div>
<div>Вес: {{model.weight}} гр</div>
<div>Струна: {{if model.isWithString 'Со струной' 'без струны'}}</div>