﻿/// <reference path="../app.scss" />

.btn {
  background: none;

  border: {
    width: 1px;
    style: solid;
  }

  transition: all 0.2s linear 0s;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &_size {
    
    @each $size, $value in $pads {
      &_#{$size} {
        
        padding: $value;
        font-size: map-get($fonts, $size);
      }
    }
    /*&_xs {
    }

    &_s {
    }

    &_m {
      @include btn-size(.2rem, 1rem, 1rem);
    }

    &_l {
    }

    &_xl {
    }*/
  }

  &_type {
    &_primary {
    }

    &_secondary {
    }

    &_info {
    }

    &_success {
    }

    &_warning {
    }

    &_danger {
    }
    // для каждой темы делаем кнопку
    @each $theme, $color in $theme-colors {
      &_outline-#{$theme} {
        @include button-outline-variant($color);
      }
    }
  }
}