﻿/// <reference path="../app.scss" />

.checkbox {

  &__input {
    display: none;
  }

  &__label {

    &:before {
      font-family: FontAwesome;
      display: inline-block;
      width: 1.5rem;
      content: "\f096";
      font-size: 1.4rem;
      vertical-align: middle;
      color: #9a9a9a;
    }
  }

  &_selected {
    &:before {
      content: "\f14a";
      color: $checkbox__input_color;
    }
  }

  &_disabled {
    @include opacity(.5);
  }
}