﻿/// <reference path="../app.scss" />

.field {
    padding: 5px 0;

    &__name {
        color: $black;
    }

    &__input {
        display: block;
        padding: 7px 5px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #bbb;
        color: $gray-900;
    }

    &__error {
        color: $red;
    }
    /*&__input-textarea{
       height: 100px;
   }*/
}
