﻿/// <reference path="../app.scss" />

.filter-range {

  &__container {
    display: flex;
  }

  &__slider {
    flex-grow: 1;
    margin-left: 1.5rem;
    margin-top: 11px;
  }

  &__input {
    width: 50px;
    height: 24px;
    padding: 0;
    text-align: center;
    border: 1px solid $filter__input_color;
  }
}
