﻿/// <reference path="../app.scss" />

.layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;

  &__nav {
    flex: 0 0 300px;
  }

  &__content {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
  /*&__nav-subitems {
        list-style: none;
    }

    &__nav-subitem {
        line-height: 2rem;
    }

    &__nav-subitem-link {
        @include color-and-hover-light($white);
    }

    &__nav-item {
        border-bottom: 1px solid $white*0.4;
    }

    &__nav-link {
        @include color-and-hover-light($white);
        line-height: 3rem;
        padding-left: 1rem;
    }*/
  &__products {
    width: 100%;
  }
}
