﻿/// <reference path="../app.scss" />

.loading {

  &__screen {
    background-color: $white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    @include opacity(.5);
  }

  &__spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10001;
    color: $blue;
  }
}