﻿/// <reference path="../app.scss" />

.nav {
  background-color: $nav_background-color;
  padding: 10px;
  height: 100%;

  &__group {
    margin: 5px 0 15px;
  }

  &__header {
    font-weight: bold;
    color: $white;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    @include color-and-hover-light($white);
    line-height: 2rem;
    padding-left: 1rem;
  }
}
