﻿/// <reference path="../app.scss" />

.noUi-target {
  border: none;
  box-shadow: none;
  background: $range-slider__line_background;
}

.noUi-tooltip {
  line-height: 1rem;
  padding: 5px;
}

.noUi-horizontal .noUi-tooltip{
	bottom: 120%;
}

.noUi-horizontal .noUi-handle {
	width: 20px;
	height: 20px;
	left: -10px;
	top: -8px;
}

.noUi-handle {
  border-radius: 50%;
  border: 2px solid $range-slider_color;
}

.noUi-handle:after, .noUi-handle:before{
	display: none;
}

.noUi-horizontal {
	height: 3px;
}

.noUi-connect {
  background: $range-slider_color;
}

/*.noUi-connect {
	background: $blue;
}*/