﻿/// <reference path="../app.scss" />


.page-numbers {


  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__item {
    transition: all 0.2s linear 0s;
    border: 1px solid $page-numbers__border_color;
    margin-left: -1px;
    background-color: transparent;

    &:hover {
      background-color: $page-numbers__link_hover_background-color;
    }

    &:first-child {
      border-color: transparent;
      background-color: transparent;
    }

    &:last-child {
      border-color: transparent;
      background-color: transparent;
      margin: 0;
    }
  }

  &__link {
    transition: all 0.2s linear 0s;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    color: $page-numbers__link_color;

    &_arrow {
      color: $page-numbers__link_arrow_color;

      &:hover {
        color: $page-numbers__link_arrow_hover_color;
      }

      &_disabled {
        pointer-events: none;
      }
    }

    &_active {
      pointer-events: none;
      z-index: 2;
      background-color: $page-numbers__border_color;
    }
  }
}
