﻿/// <reference path="../app.scss" />

.product-edit {
    &__fieldset {
        margin: 10px;
        background-color: #fafafa;
        padding: 0 10px 10px 10px;
        border-radius: 5px;
        border: 1px solid #bbb;
    }

    &__legend {
        line-height: 2rem;
        margin-bottom: 5px;
        font-weight: bold;
        padding: 0 5px;
        margin: 0;
    }

    &__hidden {
        display: none;
    }

    &__sale {
        padding: 0 5px;
        border: 1px solid transparent;

        &_visible {
            background: $gray-200;
            border-radius: 4px;
            border: 1px solid #bbb;
        }
    }

    &__sale-btn {
        text-decoration: underline;
        color: $blue;

        &:hover {
            cursor: pointer;
        }
    }

    &__btn-remove {
        font-size: 1.3rem;
        color: red;
        float: right;
    }

    &__body {
        display: flex;
    }

    &__model {
        flex: 0 0 300px;
    }

    &__products {
        flex: 1 1 auto;
    }

    &__product-attrs {
        display: flex;
    }

    &__product-fields {
        flex: 0 0 150px;
    }

    &__product-imgs {
        flex: 1 1 auto;
        padding-left: 20px;
    }

    &__img-item {
        width: 25%;
    }

    &__img-container {
        padding: 5px;
        border: 1px solid #bbb;
        margin-top: -1px;
        margin-left: -1px;
    }

    &__img-wrapper {
        @include sqrt-container();
    }

    &__imgs {
        display: flex;
        flex-wrap: wrap;
    }

    &__img {
        @include img-center();
    }

    &__img-remove {
        position: absolute;
        right: 0px;
        top: 0px;
        color: red;
        font-size: 1.3rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__sizes-container {
        position: relative;
        height: 66px;
    }

    &__sizes {
        position: absolute;
        left: 0;
        right: 0;
        overflow-x: auto;
    }

    &__sizes-table {
    }

    &__size-count {
        width: 30px;
    }
}

#productTemplate {
    display: none;
}

#imgTemplate {
    display: none;
}
