﻿/// <reference path="../app.scss" />

.product-grid {
  width: 100%;
  border: 1px solid $product-grid__border_color;
  border-spacing: 0px;
  border-collapse: collapse;

  &__img-col {
    width: 100px;
  }

  &__model-col {
    width: 200px;
  }

  &__date-col {
    width: 100px;
  }

  &__price-col {
    width: 70px;
  }

  &__count-col {
    width: 70px;
  }

  &__model-cell {
    text-align: left;
    width: 200px;
    min-height: 100px;
    padding: 5px;
  }

  &__img {
    height: 100px;
    width: 100px;
    margin: 5px;
  }

  &__descript {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  td, th {
    border: 1px solid $product-grid__border_color;
    padding: 0;
    text-align: center;
  }

  th {
    line-height: 1.8em;
    color: $product-grid__header_color;
  }

  .fa {
    color: $product-grid__icon_color;
  }
}
