﻿/// <reference path="../app.scss" />

.products {
  padding: 10px;

  &__header {
    font-size: 1.5rem;
    color: $products__header_color;
    margin: 0;
  }

  &__filters {
    margin-top: 10px;
    display: flex;
  }

  &__range-filters {
    flex-grow: 1;
    margin: 0 15px;
  }

  &__filter {
    margin: 0 15px;
  }

  &__filter-btns {
    display: flex;
    margin: 5px 0;
  }


  &__filter-btn {
    border-color: $filter__input_color;
  }

  &__items {
    list-style: none;
    padding: 0;

    border: {
      width: 1px;
      style: solid;
      color: $products__items_border-color;
    }
  }


  &__sort-select-btn {
    width: 160px;
    color: $products__sort_color;
    margin-right: 15px;
  }

  &__sort-option-icon {
    color: $products__sort_color;
  }

  &__sort-option-label {
    color: $products__sort_color;
    font-size: 0.9rem;
  }

  &__no-found {
    color: $products__no-found;
  }

  &__grid-footer {
    display: flex;
    margin-top: 5px;
    align-items: center;
  }

  &__models-count-info {
    color: $products__models-count-info_color;
    margin-left: auto;
    margin-right: 10px;
  }

  &__per-page {
    flex-basis: 50px;
  }

  &__visibility-filter-switcher {
    margin-left: auto;
    color: $products__visibility-filter-switcher_label_color;
  }

  .x-toggle-light.x-toggle-btn {
    background: $products__visibility-filter-switcher_disable_color;
  }

  .x-toggle:checked + label > .x-toggle-light.x-toggle-btn {
    background: $products__visibility-filter-switcher_enable_color;
  }
}
