﻿/// <reference path="../app.scss" />

.product-item {
  display: flex;
  border-bottom: 1px solid $product-item__border_color;

  &__products {
    flex: 1 1 auto;
    display: flex;
  }

  &__product {
    display: table;
    width: 100%;
  }

  &__model {
    flex: 0 0 200px;
  }

  &__img {
    height: 100px;
    width: 100px;
  }

  &__attr {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid $product-item__border_color;
  }

  &__date {
    width: 100px;
  }

  &__price {
    width: 70px;
  }

  &__count {
    width: 50px;
  }
}