﻿/// <reference path="../app.scss" />

html {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}