﻿$page-max-width: 1256px;
$screen-phone: 599px;
$screen-sm: 768px;
$screen-tablet: 1024px;
/*$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;*/
$grid-breakpoints: ( xs: 0, sm: 600px, md: 768px, lg: 1024px, xl: 1200px ) !default;

$font-size-base: 14px;
$font-family-base: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
//$font-family-base: system-ui, sans-serif !default;

// COLORS
/*$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0275d8 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;

$gray-dark: #292b2c !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$blue-light: #3291d1 !default;
$blue-dark: #2c5987 !default;

$gray-border: #bbb;*/

// оттенки серого
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// мапа (ассоциативный массив)
$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

// цвета
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// мапа цветов
$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

// палитра
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);

// COLORS

$sizes: () !default;
$sizes:map-merge((
  's' : (3px, 8px),
  'm' : (5px, 10px),
  'l' : (7px, 12px),
  'xl' : (9px, 14px)
  ), $sizes);

$pads: () !default;
$pads :map-merge((
  's' : 3px,
  'm' : 5px,
  'l' : 7px,
  'xl' : 9px
  ), $pads);

$fonts: () !default;
$fonts :map-merge((
  's' : 8px,
  'm' : 10px,
  'l' : 12px,
  'xl' : 14px
  ), $fonts);

// навигация
$nav_background-color: $gray-900 !default;


// продукты
$products__header_color: $gray-800;
$products__items_border-color: $gray-400;
$products__sort_color: $gray-700;
$products__no-found: $danger;
$products__models-count-info_color: $gray-700;
$products__visibility-filter-switcher_disable_color: $gray-300;
$products__visibility-filter-switcher_enable_color: $green;
$products__visibility-filter-switcher_label_color: $gray-500;

// checkbox
$checkbox__input_color: $green;

// фильтр
$filter__label_color: $gray-800;
$filter__count_color: $gray-600;
$filter__input_color: $gray-500;

// range-slider
$range-slider__line_background: $gray-200;
$range-slider_color: $green;

// product-item
$product-item__border_color: $gray-400;

// product-grid
$product-grid__border_color: $gray-400;
$product-grid__header_color: $gray-800;
$product-grid__icon_color: $gray-500;


$ember-power-select-border-color: $gray-500;
$ember-power-select-default-border-radius: 0;
$ember-power-select-text-color: $gray-700;

// page-numbers
$page-numbers__border_color: $gray-400;
$page-numbers__link_color: $gray-900;
$page-numbers__link_hover_background-color: $gray-200;
$page-numbers__link_arrow_color: $gray-500;
$page-numbers__link_arrow_hover_color: $gray-700;