﻿@mixin btn-size($padding-y, $padding-x, $font-size) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
}

@mixin btn-size1($padding, $font-size) {
  padding: $padding;
  font-size: $font-size;
}


@mixin button-outline-variant($color) {
  color: $color;

  background: {
    image: none;
    color: transparent;
  }

  border-color: $color;

  &:hover {
    background-color: $color;
    color: #fff;
  }
}