﻿@mixin color-and-hover($color, $coef: 0.7) {
    transition: color 0.3s linear 0s;
    color: $color;

    &:hover {
        color: $color * $coef;
        cursor: pointer;
    }
}

@mixin color-and-hover-light($color, $coef: 0.7) {
    transition: color 0.3s linear 0s;
    color: $color * $coef;

    &:hover {
        color: $color;
        cursor: pointer;
    }
}
