﻿/// <reference path="../../admin.scss" />

@mixin sqrt-container() {
    position: relative;
    padding-bottom: 100%;
    background-color: $white;
}

@mixin img-center() {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}
