﻿@mixin opacity($value: 0.5) {
  $ie-value: $value * 100;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$ie-value+")";
  /* IE 5-7 */
  filter: alpha(opacity=$ie-value);
  /* Netscape */
  -moz-opacity: $value;
  /* Safari 1.x */
  -khtml-opacity: $value;
  /* Good browsers */
  opacity: $value;
}